<div class="col-10 offser-1">
	<h1>About Secrets</h1>

	<p>
		We created Secrets so that people would have a place to share their deepest thoughts, anonymously. It's a place to let go of worries, fears, and anger, but don't be afraid to share anything you're thinking! We won't ask for any personal info, so your secrets are safe with us!
	</p>
	
</div>